{% extends 'base.html.twig' %}

{% block title %}Lista de Tareas de Caleb{% endblock %} 
{% block body %} 
    <h1>Mis Tareas Pendientes</h1>

    <ul>
        {% for tarea in mis_tareas %}
            <li>
                <strong>{{ tarea.name|upper}}</strong> - Tiempo estimado: {{ tarea.time }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}